#
# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

**/*_test.go
.git/objects/pack
.github

# These are directories created by the make process
bin
# Exclude the contents of the build directory, but not the directory itself
build/*
# Now, make an exception so Docker can look inside the bin subdirectory
!build/bin
# Exclude the contents of the bin subdirectory
build/bin/*
# Finally, make the exception for our specific peer binary
!build/bin/peer
release

ci
docs
images
release_notes
vagrant
